.aboutModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 24px;
  width: 50%;
  max-height: 40%;
  border-radius: 6px;
  z-index: 1000;
  overflow-y: scroll;
}

.aboutTools {
  font-size: 0.75rem;
}