.filterGrid {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

.filterItem {
  margin-end: 6px;
  padding: 6px 12px; 
  min-width: 100px;
  border-radius: 48px;
  background-color: #FEFEFE50; /* Default pill color */
  font-size: 14px;
  color: #787878;
  border: none; 
  cursor: pointer; 
  transition: background-color 0.2s ease;
}

.filterItem.selected {
  background-color: #E0E0FF80; /* Light purple color */
}

.filterItem:hover, .filterItem.selected:hover{
  filter: brightness(0.8);
}

.closeButton {
  position: fixed; 
  bottom: 10px;
  right: 10px; 
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 8px;
  cursor: pointer;
}