.caption {
  color: #787878;
  margin-left: 4px;
  margin-right: 4px;
}

.photo {
  width: 100%;
  height: auto;
  object-fit: cover; 
  border-radius: 4px;
}

.expandedImage {
  position: absolute;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 8px;
  padding-right: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 95%;
  z-index: 9999;
  overflow-y: scroll;
  overflow-x: hidden;
}

.closeButton {
  position: fixed; 
  top: 10px;
  right: 10px; 
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.singleLine {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.photoGrid4x {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); /* Adjust minmax values as needed */
  grid-gap: 8px; /* Adjust spacing as needed */
  border-radius: 8px;
}

.photoGrid6x {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); /* Adjust minmax values as needed */
  grid-gap: 8px; /* Adjust spacing as needed */
  border-radius: 8px;
}
