.caption {
  color: #787878;
  margin-left: 4px;
  margin-right: 4px;
}

.photo {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.expandedSingleImage {
  position: absolute;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 8px;
  padding-right: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 75%;
  z-index: 9999;
  overflow-x: hidden;
}

.expandedMultiImage {
  position: absolute;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 8px;
  padding-right: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 75%;
  z-index: 9999;
  overflow-y: scroll;
  overflow-x: hidden;
}

.closeButton {
  position: fixed; 
  top: 6px;
  right: 6px; 
  background-color: transparent;
  border: none;
  padding: 12px 18px;
  font-size: 16px;
  cursor: pointer;
}

.singleLine {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.photoGrid1x {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  border-radius: 8px;
}

.photoGrid3x {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 8px;
  border-radius: 8px;
}

.photoGrid4x {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  grid-gap: 8px;
  border-radius: 8px;
}

.photoGrid6x {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-gap: 8px;
  border-radius: 8px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  flex: 1;
}

.pinButton {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-width: 0px;
  color: #787878;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #FFFFFF;
}

.pinButton:hover {
  background-color: #EFEFEF;
}